@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: Montserrat;
}

body {
  background: #000;
  overflow-x: hidden;
}

.nft-main {
  background: url("../../assets/Rectangle\ 35.png");
  position: relative;
  background-position: center;
  background-size: cover;
  height: 959px;
  padding: 40px 0;
  margin-bottom: 230px;

  &__img {
    width: 100%;
    height: 959px;
    position: absolute;
    top: 20px;
    left: 0;
  }

  &__header {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 55px;
    margin-bottom: 100px;
    // background: yellow;
    padding: 0 60px;

    @media (max-width: 768px) {
      gap: 40px;
    }

    @media (max-width: 565px) {
      padding: 0 20px;
    }

    &__form {
      background: rgba(19, 2, 48, 0.5);
      width: 391px;
      border-radius: 30px;
      height: 100%;

      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 14px;

      &__input {
        width: 100%;
        background: transparent;
        border: none;
        font-size: 1.6rem;
        font-weight: 500;
        outline: none;
        color: rgba(255, 255, 255, 0.5);

        @media (max-width: 565px) {
          font-size: 10px;
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 700;
      gap: 25px;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    &__button {
      background: rgba(113, 12, 246, 1);
      border: none;
      outline: none;
      width: 158px;
      height: 48px;
      border-radius: 15px;
      font-size: 1.6rem;
      font-weight: 700;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    &__hamburger {
      display: none;
      // background-color: yellow;
      padding-left: 20px;
      z-index: 10;

      @media (max-width: 1024px) {
        display: initial;
      }
      

      
      &__hamburger1 {
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        transition: 0.6s;
      }
      &__hamburger2 {
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px 0;
        transition: 0.6s;

      }
      &__hamburger3 {
        width: 10px;
        height: 2px;
        background-color: #ffffff;
        transition: 0.6s;
      }
      
    }

    &__hamburger-active {
      .nft-main__header__hamburger__hamburger1 {
        width: 35px;
        height: 2px;
        transition: 0.6s;
        transform: rotate(45deg);
      }
      .nft-main__header__hamburger__hamburger2 {
        // display: none !important;
        background: transparent;
        transition: 0.6s;
      }
      .nft-main__header__hamburger__hamburger3 {
        width: 35px;
        transition: 0.6s;
        transform: rotate(-45deg);
        margin-top: -15px;
      }
    }

    &__sidebar {
      width: 100%;
      height: 100vh;
      position: fixed;
      background: #6A0BE7;
      top: 0;
      left: 0;
      z-index: 4;
      padding: 40px;
      padding-top: 140px;
      font-size: 6rem;
      display: flex;
      flex-direction: column;
      gap: 40px;
      transition: 0.7s;

      &__button {
        background: #FFF;
        border: none;
        outline: none;
        width: 200px;
        height: 48px;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 700;
        color: #6A0BE7;
  
       
      }
    }

    &__sidebar-none {
      opacity: 0;
      z-index: -1;
    }
  }

  &__hero {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 959px;
    &__title {
      font-size: 5rem;
      font-weight: 700;
      font-family: "Space Grotesk";
      text-align: center;
      margin-bottom: 2rem;
      line-height: 44.45px;

      @media (max-width: 565px) {
        font-size: 30px;
      }
    }

    &__subtitle {
      font-weight: 1.6rem;
      font-weight: 500;
      width: 64ch;
      margin: auto;
      margin-bottom: 4rem;
      text-align: center;
      line-height: 19.5px;

      @media (max-width: 565px) {
        padding: 20px;
        width: fit-content;
        font-size: 16px;
      }
    }

    &__button-group {
      display: flex;
      align-items: center;
      gap: 40px;
      justify-content: center;

      button {
        width: 155px;
        height: 49px;
        border-radius: 15px;
        background: rgba(113, 12, 246, 1);
        border: none;
        outline: none;
        font-size: 1.6rem;
        font-weight: 700;

        @media (max-width: 565px) {
          font-size: 14px;
        }
      }

      & > :last-child {
        width: 183px;
        background: transparent;
        border: 2px solid rgba(113, 12, 246, 1);
      }
    }

    &__spot-light {
      width: 100%;
      max-width: 938.77px;
      height: 591px;
      background-position: center;
      background-size: cover;
      margin: auto;
      margin-top: -40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &__torch-group {
        position: absolute;
        // animation: flash 4s linear infinite;
        &__flash-light {
          position: absolute;
          top: 90%;
          left: 11%;
          transform: rotate(44deg);
          z-index: -1;
          opacity: 0.2;
          width: 80%;
        }

        &__torch {
          width: 100%;
          max-width: 93.877rem;
          height: 591px;

          @media (max-width: 768px) {
            max-width: 123.877rem;
          }
        }
      }

      &__signs {
        position: absolute;
        width: 100%;
        max-width: 536.16px;
        height: 458.63px;
        z-index: 1;
        animation-name: bounce;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        @media (max-width: 565px) {
          display: none;
        }
      }

      &__coin {
        width: fit-content;
        position: relative;
        margin-top: 70px;
        animation-name: bounce;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        @media (max-width: 565px) {
          & > svg {
            width: 140px;
          }
        }


        &__symbol {
          position: absolute;
          top: 47%;
          left: 50%;
          transform: translate(-47%, -50%);

          @media (max-width: 565px) {
              width: 50px !important;
          }
  
        }

        

      }

      &__music {
        position: absolute;
        top: 310px;
        left: 30.2%;
        transform: translateX(-50%);

        @media (max-width: 565px) {
          top: 290px;
          left: 18%;
          z-index: 1;
          width: 60px;
        }

      }
      &__music-link {
        position: absolute;
        top: 350px;
        left: 37.8%;
        transform: translateX(-50%);

        stroke-width: 2px;
        stroke-dasharray: 170;
        stroke-dashoffset: 170;
        animation: draw 2s linear infinite;

        
        @media (max-width: 565px) {
          top: 330px;
          left: 28.8%;
        }
      }

      &__play {
        position: absolute;
        top: 200px;
        left: 31.5%;
        transform: translateX(-50%);
        @media (max-width: 565px) {
          top: 220px;
          left: 21.5%;
          z-index: 1;
          width: 60px;
        }
      }
      &__play-link {
        position: absolute;
        top: 250px;
        left: 38.4%;
        transform: translateX(-50%);
        stroke-width: 2.5px;
        stroke-dasharray: 170;
        stroke-dashoffset: 170;
        animation: draw 2s linear infinite;

        @media (max-width: 565px) {
          top: 260px;
          left: 34%;
        }
      }

      &__chain {
        position: absolute;
        top: 100px;
        left: 40%;
        transform: translateX(-50%);
        z-index: 1;

        @media (max-width: 565px) {
          width: 60px;
          top: 140px;
          left: 38%;
        }
      }

      &__chain-link {
        position: absolute;
        top: 168px;
        left: 42.3%;
        transform: translateX(-50%);
        stroke-width: 2px;
        stroke-dasharray: 170;
        stroke-dashoffset: 170;
        animation: draw 2s linear infinite;
        @media (max-width: 565px) {
          top: 184px;
        }
      }

      &__internet {
        position: absolute;
        top: 100px;
        left: 56%;
        transform: translateX(-50%);
        z-index: 1;

        @media (max-width: 565px) {
          width: 60px;
          top: 135px;
          left: 57%;
        }
      }
      &__internet-link {
        position: absolute;
        top: 168px;
        left: 54.5%;
        transform: translateX(-50%);
        stroke-width: 2px;
        stroke-dasharray: 170;
        stroke-dashoffset: 170;
        animation: draw 2s linear infinite;

        @media (max-width: 565px) {
          top:200px;
          left: 54%;
        }
      }

      &__gallery {
        position: absolute;
        top: 190px;
        left: 68%;
        transform: translateX(-50%);

        @media (max-width: 565px) {
          width: 60px;
          top: 220px;
          z-index: 1;
          left: 80%;
        }
      }
      &__gallery-link {
        position: absolute;
        top: 240px;
        left: 61%;
        transform: translateX(-50%);
        stroke-width: 2px;
        stroke-dasharray: 170;
        stroke-dashoffset: 170;
        animation: draw 2s linear infinite;

        @media (max-width: 565px) {
          top: 260px;
          left: 68%;
        }
      }

      &__smiley {
        position: absolute;
        top: 310px;
        left: 69%;
        transform: translateX(-50%);
        z-index: 1;

     
        @media (max-width: 565px) {
          width: 60px;
          top: 290px;
          left: 82%;
        }
      }
      &__smiley-link {
        position: absolute;
        top: 350px;
        left: 62%;
        transform: translateX(-50%);
        stroke-width: 2px;
        stroke-dasharray: 170;
        stroke-dashoffset: 170;
        animation: draw 2s linear infinite;
        // animation: name duration timing-function delay iteration-count direction fill-mode;
        @media (max-width: 565px) {
          top: 330px;
          left: 71%;
        }
      }
    }

    &__arrow {
      position: relative;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 100px;
      width: 75.67px;
      height: 75.67px;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      & > :last-child {
        animation: mini-bounce 1s linear infinite;
      }
    }
  }
}

.auction {
  &__title {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Space Grotesk";
    display: flex;
    align-items: center;
    gap: 2px;
    margin: auto;
    margin-bottom: 4rem;
    width: fit-content;

    @media (max-width: 565px) {
      font-size: 20px;
    }

    svg {
      margin-bottom: -15px;
      @media (max-width: 565px) {
        width: 40px;
      }
    }
  }

  &__slide {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 0 60px;

    @media (max-width: 1024px) {
      gap: 40px;
    }
    @media (max-width: 768px) {
      gap: 0px;
      padding: 0;

    }


    & > :first-child,
    & > :last-child {
      width: 42.55px;
      cursor: pointer;
    }

    &__slide-inner {
      max-width: 950px;
      width: 100%;

      height: 557px;
      display: flex;
      align-items: center;
      position: relative;

      // @media (max-width: 768px) {
      //   height: 300px;
      // }

      &__first-left-visible {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) scale(0.7);
        opacity: 0.15;

        @media (max-width: 565px) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &__second-left-visible {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        z-index: 1;

        @media (max-width: 565px) {
          left: 5%;
        }
      }

      &__middle-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        transition: 0.5s;

        .auction__slide__slide-inner__card__title-flex {
          display: flex;
        }
        .auction__slide__slide-inner__card__title-flex2 {
          display: flex;
        }

        .auction__slide__slide-inner__card__button-group {
          display: grid;
        }
      }

      &__first-right-visible {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translateY(-50%) scale(0.7);
        opacity: 0.15;

        @media (max-width: 565px) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__second-right-visible {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @media (max-width: 565px) {
          left: 30%;
        }
      }

      &__card {
        width: 34rem;
        max-height: 557px;
        background: rgba(43, 43, 43, 1);
        border-radius: 24px;
        margin: auto;
        font-family: "Space Grotesk";
        transition: 0.5s;

        @media (max-width: 768px) {
          width: 50rem;

        }
        @media (max-width: 565px) {
          width: 80rem;

        }

        img {
          width: 100%;
          height: 366px;
          border-radius: 24px;

          
       
        }

        &__title-flex {
          display: none;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
          gap: 10px;

          @media (max-width: 768px) {
            padding: 8px;
          }

          & > :first-child {
            & > :first-child {
              font-size: 2rem;
              font-weight: 700;
              margin-bottom: 1rem;

              @media (max-width: 768px) {
                font-size: 16px;
              }
            }
            & > :last-child {
              font-size: 1.2rem;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.5);
              display: flex;
              align-items: center;
              gap: 8px;

              @media (max-width: 768px) {
                font-size: 10px;
              }

              img {
                width: 24px;
                height: 24px;
              }
            }
          }

          & > :last-child {
            width: 11.4rem;
            height: 3.2rem;
            font-size: 1.4rem;
            font-weight: 700;
            background: transparent;
            border: 1px solid rgba(111, 124, 217, 1);
            outline: none;
            border-radius: 15px;
            white-space: nowrap;

            @media (max-width: 768px) {
              font-size: 10px;
              height: fit-content;
            }

            @media (max-width: 768px) {
              width: fit-content;
            }

            span {
              color: rgba(111, 124, 217, 1);
            }
          }
        }

        &__title-flex2 {
          display: none;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          font-size: 1.4rem;
          font-weight: 700;

          @media (max-width: 768px) {
            padding: 0 8px;
            font-size: 10px;
          }

          & > :first-child {
            span {
              color: rgba(111, 124, 217, 1);
            }
          }

          & > :last-child {
            color: rgba(255, 255, 255, 0.5);
            font-weight: 500;
          }
        }

        &__button-group {
          display: none;
          grid-template-columns: 2fr 1fr;
          padding: 20px;
          gap: 10px;

          @media (max-width: 565px) {
            padding: 14px 8px;
          }

          button {
            border: none;
            outline: none;
            border-radius: 15px;
            font-size: 1.6rem;
            
            @media (max-width: 768px) {
              font-size: 12px;
            }
          }

          & > :first-child {
            width: 100%;
            height: 3.7rem;
            background: rgba(113, 12, 246, 1);
            box-shadow: 0px 3px 15px 0px rgba(78, 63, 255, 0.25);

            @media (max-width: 768px) {
              height: fit-content;
            }
          }
          & > :last-child {
            background: transparent;
            border: 1px solid rgba(113, 12, 246, 1);
            @media (max-width: 768px) {
              height: fit-content;
            }
          }
        }
      }
    }
  }
}

.sellers {
  width: 100%;
  max-width: 1267px;
  margin: 10rem auto;
  background: rgba(20, 20, 20, 1);
  padding: 20px 80px;

  @media (max-width: 768px) {
    padding: 20px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: "Space Grotesk";

    @media (max-width: 565px) {
      font-size: 20px;

      svg {
        width: 40px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 565px) {
      grid-template-columns: 1fr 1fr;
    }

    &__card {
      width: 100%;
      height: 77px;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.1);
      padding: 0 24px;
      font-family: "Space Grotesk";
      font-size: 1.4rem;

      display: flex;
      align-items: center;
      gap: 6px;

      
    @media (max-width: 565px) {
          font-size: 10px;
          }

      

      &__no {
        font-size: 12px;
        font-weight: 700;
        margin-right: 1.2rem;

         

      }

      img {
        width: 49px;
        height: auto;
      }

      &__group {
        & > :first-child {
          font-size: 1.6rem;
          font-weight: 700;
          margin-bottom: 8px;

          @media (max-width: 565px) {
            font-size: 10px;
            }
        }
      }
    }
  }
}

.collection {
  width: 100%;
  max-width: 1267px;
  margin: auto;
  margin-bottom: 100px;
  font-family: "Space Grotesk";
  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(43, 43, 43, 1);
    margin-bottom: 4rem;
    padding: 0 40px 20px 40px;

    @media (max-width: 565px) {
      padding: 0 20px 20px 20px;
    }

    & > :first-child {
      font-size: 4rem;
      font-weight: 700;
    }

    button {
      min-width: 110px;
      min-height: 36px;
      padding: 11px 15px 11px 15px;
      border: none;
      outline: none;
      background: rgba(43, 43, 43, 1);
      font-size: 1.6rem;
      font-weight: 700;
      border-radius: 10px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    &__card {
      width: 100%;
      // height: 250px;
      border-radius: 13px;
      padding: 4px;
      background: rgba(20, 20, 20, 1);
      &__group {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;

        & > :first-child {
          border-radius: 10px 0px 0px 0px;
        }
        & > :last-child {
          border-radius: 0px 10px 0px 0px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &__img {
      width: 100%;
      height: 110px;
      object-fit: cover;
      margin-top: 5px;
    }

    &__group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.5rem;
      font-size: 2rem;
      font-weight: 700;
      padding-left: 20px;

      @media (max-width: 565px) {
        font-size: 14px;
        }

      button {
        min-width: 87px;
        min-height: 30px;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 10px;
        outline: none;
        background: transparent;
        padding: 5px 15px 5px 15px;
      }
    }
  }
}

.explore {
  width: 100%;
  max-width: 1440px;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10rem;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 1fr;
  }

  &__card1 {
    width: 100%;
    height: 501px;
    background: rgba(20, 20, 20, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 80px 80px 120px;

    @media (max-width: 768px) {
      padding: 60px 40px;
      height: fit-content;
    }

    &__title {
      font-family: "Space Grotesk";
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 5.69rem;
      margin-bottom: 1.2rem;

      @media (max-width: 565px) {
        font-size: 34px;
        line-height: unset;

      }
    }

    &__subtitle {
      font-size: 2rem;
      font-weight: 400;
      width: 35ch;

      @media (max-width: 565px) {
        font-size: 14px;
        width: fit-content;
        }
    }
  }

  &__card2 {
    width: 100%;
    height: auto;
    background: yellow;
  }
}

.exploreMain {
  width: 100%;
  max-width: 1267px;
  margin: auto;
  align-self: unset;
  font-family: "Space Grotesk";
  font-weight: 700;
  margin-bottom: 4rem;
  padding: 0 60px;

  @media (max-width: 768px) {
    padding: 0 40px;
  }
  @media (max-width: 565px) {
    padding: 0 20px;
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 4rem;

    @media (max-width: 565px) {
      font-size: 20px;
    }
  }

  &__nav {
    border-bottom: 2px solid rgba(43, 43, 43, 1);
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    gap: 20px;

    @media (max-width: 565px) {
      font-size: 10px;
    }

    & > div {
      width: 174px;
      height: 36px;
      cursor: pointer;
      border-radius: 10px 10px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

       @media (max-width: 565px) {
      width: fit-content;
      padding: 0 10px;
      }
    }

    &__active {
      background: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, 1);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 60px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &__card {
      width: 100%;
      height: 443.5px;
      border-radius: 16px;
      background: rgba(20, 20, 20, 1);
      padding: 10px;

      img {
        width: 100%;
        height: 266px;
        object-fit: cover;
        border-radius: 18px;
        margin-bottom: 10px;
      }

      &__title {
        font-size: 1.4rem;
        margin-bottom: 10px;
        
        @media (max-width: 565px) {
          font-size: 10px;
        }
      }

      &__subtitle-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-bottom: 1.4rem;
        color: rgba(255, 255, 255, 0.5);

        @media (max-width: 565px) {
          font-size: 8px;
          margin-top: 3rem;
          margin-bottom: 2.4rem;
        }

        & > :first-child {
          display: flex;
          align-items: center;
          gap: 4px;
          font-weight: 400;
        }
      }

      &__subsubtitle {
        font-size: 1.4rem;
        margin-bottom: 10px;

        @media (max-width: 565px) {
          font-size: 10px;
        }

        span {
          color: rgba(111, 124, 217, 1);
        }
      }

      &__divider {
        width: 100%;
        height: 1px;
        background: rgba(43, 43, 43, 1);
        margin-bottom: 10px;

        @media (max-width: 565px) {
          font-size: 10px;
          margin: 2rem 0 2rem 0;
        }
      }

      &__subsubtitle-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.5);

        @media (max-width: 565px) {
          font-size: 8px;
        }

        & > :first-child {
          display: flex;
          align-items: center;
          gap: 6px;
          img {
            width: 24px;
            height: 24px;
            border: 50%;
            margin-bottom: 0;
          }
        }

        & > :last-child {
          display: flex;
          align-items: center;
          gap: 5px;
          font-weight: 500;
        }
      }
    }
  }

  &__button {
    width: 178px;
    height: 49px;
    border-radius: 15px;
    background: rgba(113, 12, 246, 1);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
  }
}

.footer {
  width: 100%;
  padding: 40px 60px 28px 60px;
  // height: 216px;
  // background: #aaa;

  @media (max-width: 565px) {
    padding: 40px 20px 28px 20px;
  }

  &__inner {
    width: 100%;
    max-width: 1267px;
    margin: auto;
    // background: #bbb;
    &__grid {
      display: flex;
      justify-content: space-between;
      align-items: start;
      font-family: "Space Grotesk";

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 40px;
      }

      &__svg {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
      }

      &__group {
        font-size: 12px;
        font-weight: 400;

        & > :first-child {
          margin-bottom: 4rem;
        }
      }
    }

    &__divider {
      width: 100%;
      height: 0.5px;
      background: rgba(95, 125, 149, 1);
      margin-top: 14px;
      margin-bottom: 14px;
    }

    &__rights {
      text-align: center;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 170;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes flash {
  0% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@keyframes mini-bounce {
  0% {
    transform: translate(-50%, -70%);
  }
  50% {
    transform: translate(-50%, -40%);
  }
  100% {
    transform: translate(-50%, -70%);
  }
}
